[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
ipdb = "*"
pytest = "*"
black = "*"
mypy = "*"
sqlalchemy-stubs = "*"
factory-boy = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
unipath = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
cerberus = "*"
attrs = "*"
hug = {path = "/home/richard/code/hug", editable = true}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
