[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
unipath = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
